<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>FYP</title>
        
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"

        {% block head %} {% endblock %}
        
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>
