{% extends 'base.html' %}

{% block head %} 

<title>Demographic Data</title>
<style>
    .form-container {
        margin-left: 2em;
        width: 30em;
    }
    .form-container p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 1em;
    }
    .form-container label,.form-container input{
        margin-right: 1em;
    }
    .form-container input[type="text"], 
    .form-container input[type="number"],
    .form-container input[type="radio"]{
        margin-left: auto;
    }
    
</style>

{% endblock %}


{% block body %}


<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      
      
      <h2 >Demographic <span>Model</span></h2>


      <h3 style =  "padding: 20px">Fill in your health information</h3>


<div class="form-container">

    <form method="POST">
        <p><label for="follicle_r">Follicle No (R):</label> <input type="number" id="follicle_r" name="follicle_r"></p>
        <p><label for="follicle_l">Follicle No (L):</label> <input type="number" id="follicle_l" name="follicle_l"></p>
        <p><label for="hair_growth">Hair Growth:</label>
        Yes<input type="radio" id="hair_growth_yes" name="hair_growth" value=True>
        No<input type="radio" id="hair_growth_no" name="hair_growth" value=False>
        </p>
        <p><label for="skin_darkening">Skin Darkening:</label>
        Yes<input type="radio" id="skin_darkening_yes" name="skin_darkening" value=True>
        No<input type="radio" id="skin_darkening_no" name="skin_darkening" value=False>
        </p>
        <p><label for="weight_gain">Weight Gain:</label>
        Yes<input type="radio" id="weight_gain_yes" name="weight_gain" value=True>
        No<input type="radio" id="weight_gain_no" name="weight_gain" value=False>
        </p>
        <p><label for="cycle">Cycle:</label> <input type="number" id="cycle" name="cycle"></p>
        <p><label for="fast_food">Fast Food:</label>
        Yes<input type="radio" id="fast_food_yes" name="fast_food" value=True>
        No<input type="radio" id="fast_food_no" name="fast_food" value=False>
        </p>
        <p><label for="bmi">BMI:</label> <input type="text" id="bmi" name="bmi"></p>
        <p><label for="pimples">Pimples:</label>
        Yes<input type="radio" id="pimples_yes" name="pimples" value=True>
        No<input type="radio" id="pimples_no" name="pimples" value=False>
        </p>
        <p><label for="weight">Weight:</label> <input type="text" id="weight" name="weight"></p>
        <input type="submit" value="Submit">
    </form>

{% if dem_pred is not none %}
  <p>Prediction: {{ dem_pred }}</p>
{% endif %}


      

    </div>
  </section>






  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>




  <!-- <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet"> -->

  <!-- Vendor JS Files -->


  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}

{% block footer %} 
<!-- <a href="/" style="display: block;
text-align: center;">Home</a> -->
{% endblock %}