{% extends 'base.html' %}

{% block head %} 

<title>Image Analysis</title>

{% endblock %}


{% block body %}


<section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      
      
      <h2>Image Analysis<span></span></h2>

      <h3 style =  "padding: 20px">Select file to upload</h3>
      <br><br><br><br><br>

      <form method=post enctype=multipart/form-data>
        <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
        <input type=file name=file accept="image/png, image/jpeg">
        <input type=submit value="Predict" class="btn-get-started scrollto">
      </form>

      {% if filename %}
      <img src="{{ url_for('static', filename='uploads/' + filename) }}" style="height: 300px; width: auto; padding: 20px;">

      {% if prediction is not none %}
        <p>Prediction: {{ prediction }}</p>
      {% endif %}


    {% endif %}


    </div>
  </section>






  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>




  <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet">

  <!-- Vendor JS Files -->


  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}

{% block footer %} 
<!-- <a href="/" style="display: block;
text-align: center;">Home</a> -->
{% endblock %}