{% extends 'base.html' %}

{% block head %} 

<title>FYP</title>



{% endblock %}


{% block body %}


<section id="hero-animated" class="hero-animated d-flex align-items-center">
  
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <!-- <img src="{{ url_for('static', filename='img/hero-carousel/hero-carousel-3.svg') }}" class="img-fluid animated"> -->
      
      <h2>Early Detection of <span>PCOS</span></h2>
      
      <!-- <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div> -->
    </div>
  </section>




  <main id="main">



    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <!-- <div class="section-header">
          <h2>Models</h2>
          <p></p>
        </div> -->

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="{{ url_for('static', filename='img/1-image_analysis.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="/image-analysis" class="stretched-link">
                <!-- <a href="#" class="stretched-link"> -->
                  <h3>Image Analysis</h3>
                </a>
                <p>Insights into PCOS detection by classifying the image based on the number of cysts present.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="{{ url_for('static', filename='img/2-gene_expression.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <a href="/gene-expression" class="stretched-link">
                  <h3>Gene Expression</h3>
                </a>
                <p>Performed differential gene expression analysis on genes affecting PCOS using 9 datasets.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                
                <img src="{{ url_for('static', filename='img/3-demographic.jpg') }}" class="img-fluid" alt="">

              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="/demographic-model" class="stretched-link">
                  <h3>Demographic Data</h3>
                </a>
                <p>Developed demographic model to detect PCOS using Decision Tree, Random Forest, and XGBoost.
                </p>
              </div>
            </div>
          </div><!-- End Service Item -->


        </div>

      </div>
    </section><!-- End Services Section -->


  </main><!-- End #main -->



  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>




  <!-- <link href="{{ url_for('static', filename='css/variables.css') }}" rel="stylesheet"> -->

  <!-- Vendor JS Files -->


  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}

